@import "reset.css";
/*引入css文件的一种方式*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


 filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
 body{
 	font-size: 16Px;
 }

.bgf6f5f5
	background #f6f5f5

.full
	width 100%
	height 100%
.df
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-direction column
.aic
	align-items center
.jucc
	justify-content center

.brand
	width 383px
	img
		display block
		width 100%
.form
	margin-top 125px
	&.form-child
		margin-top 100px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content center
		.text
			width 400px
			height 80px
		.submit
			margin-left 15px
			margin-top 0
			width 140px
			height 80px
			border-radius 5px
	input
		border none
		outline none
	.text
		width 480px
		height 86px
		border 1px solid #a0a0a0
		font-size 28px
		color #8c8c8c
		padding 20px
		line-height 46px
		text-align center
		box-sizing border-box
		border-radius 5px
		&::placeholder
			font-family 'micrsoft yahei'
	.submit
		margin-top 36px
		width 484px
		height 76px
		font-size 30px
		color #fff
		text-align center
		background #231815
		border-radius 38px
		

.header
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content flex-start
	align-items center
	a
		display block
		width 70px
		height 70px
		background url('../img/d76f36869d945c38de0d5418d8798892.png') center center/26px 45px no-repeat
.main
	.brand
		margin 15px auto 50px
		width 322px
		display block
	.row
		padding 0 35px
		height 78px
		background #fff
		border-top 1px solid #bfbfbf
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content flex-start
		font-size 24px
		color #231815
		line-height 30px
		&:last-child
			border-bottom 1px solid #bfbfbf
		&.bgf6f5f5
			background #f6f5f5
		&.bdtn
			border-top none
		&.h115
			height 115px
		.label
			width 4em
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			padding-right 1em
			img
				display block
				margin 0 auto
			.w55
				width 55px
			.w53
				width 53px
		.underline
			text-decoration underline
